export(mdist, cdist, ndist)
importFrom(entropy, entropy)
importFrom(Matrix, Matrix)
importFrom(fastDummies, dummy_cols)
importFrom(data.table, data.table, setDT, fread, fwrite)
importFrom(philentropy, distance)
importFrom(cluster, daisy)
importFrom(stats, IQR, dist, filter, median, start)
importFrom(purrr, map, map_dbl, pmap, map2, map2_dbl, map_df)
importFrom(dplyr, mutate, pull, rename, where)
importFrom(tidyr, crossing)
importFrom(forcats, fct_drop)
importFrom(magrittr, `%>%`)
importFrom(utils, globalVariables)
importFrom(fpc, distancefactor)
importFrom(tibble, tibble, as_tibble)  # Importing from tibble package
importFrom(recipes, prep, bake, recipe, step_dummy, step_scale, step_center, step_pca, step_range, step_select, all_nominal, all_predictors)
importFrom(Matrix, bdiag)
